<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener Microservice</title>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form method="POST" action="/api/shorturl">
          <input
            id="url_input"
            type="text"
            name="url"
            placeholder="https://www.google.com"
          /><br />
          <input type="submit" value="POST URL" />
        </form>
      </section>

      <div class="documentation">
        <section id="shortUrlCreation">
          <h2>short URL creation</h2>
          <h2>Example</h2>
          <code> POST [project_url]/api/shorturl - https://www.google.com</code>
        </section>

        <section id="exampleUsage">
          <h2>Example Usage</h2>
          <a>[this_project_url]/api/shorturl/0</a>
          <h2>Will redirect to:</h2>
          <code>https://www.google.com</code>
        </section>
      </div>
    </main>
    <footer>
      <p>copyright&copy;|Amrit Kafle</p>
    </footer>
  </body>
</html>
